{{!--
<main class="p-5">
	<h1> Test</h1>

	<div class="card p-4">

		<p id="test">
			Hello world Hello world Hello world Hello world Hello world Hello world Hello world Hello world
		</p>
		<p id="test">
			Hello world
		</p>
		<p hidden id="test">
			Hello world Hello world Hello world
			Hello world Hello world Hello world
		</p>
		<span>Test</span>
		<span class="test">Test</span>
	</div>
	<pre>Test</pre>
	<div class="b">Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>
	<div>Block</div>

	<span>Inline</span>

	<span>Inline</span>
	<span>Inline</span>
	<span>Inline</span>
	<div style="padding: 10px 50px 60px 0; background: blue; height: 200px ">
		<span>category 1</span>
		<span>category 2</span>
		<span>category 3</span>
		<span>category 4</span>
		<span>category 5</span>
		<span class="block">category Inkkk</span>
	</div>

</main>
<div class="page block m-5 p-5">
	<main class="row g-0 plans ">
		<div class="col plans_card ">

		</div>
	</main>
</div> --}}
<h1>TestTestTestTestTestTestvvvvTestTestTestTestTestTestTest</h1>

<body>
	<div class="m-5 p-5">
		<p>
			Поняттясмислумаєдвіпредметні сфери застосування, які задають основні аспекти значення цього терміну. Перший
			аспект передбачає, що деяке явище розглядається як вираження певного змісту, суті. В такому ракурсі
			найчастіше
			говорять про смисл знака, текста, художнього твору.<span class="overflow">
				Другийаспектпередбачає,щодеякеявищемаєцільовеабо
				цінніснепризначення.Так,</span> може йтися про сенс творіння, дій, людського життя. В обох випадках
			явище
			розглядається у ширшом
			Другийаспектпередбачає,щодеякеявищемаєцільовеабо
			цінніснепризначення.Так,</span> може йтися про сенс творіння, дій, людського життя. В обох випадках
			явище
			розглядається у ширшом
			Другийаспектпередбачає,щодеякеявищемаєцільовеабо
			цінніснепризначення.Так,</span> може йтися про сенс творіння, дій, людського життя. В обох випадках
			явище
			розглядається у ширшом
			Другийаспектпередбачає,щодеякеявищемаєцільовеабо
			цінніснепризначення.Так,</span> може йтися про сенс творіння, дій, людського життя. В обох випадках
			явище
			розглядається у ширшом
		</p>
	</div>
	<div class=" m-5 p-5 page_content">
		Другийаспектпередбачає,щодеякеявищемаєцільовеабо
		цінніснепризначення.Так
		Другийаспектпередбачає,щодеякеявищемаєцільовеабо
		цінніснепризначення.Так
		Другийаспектпередбачає,щодеякеявищемаєцільовеабо
		цінніснепризначення.Так

	</div>
</body>
<div class=" m-5 page_block">
	<caption>My table</caption>
	<table class="table">
		
		<tbody>
			
			<tr>
				<td>
					Test
				</td>
				<td>
					Test
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
<div class="modal_text m-5">
		
		Другийаспектпередбачає
		цінніснепризначення.
		Другийаспектпередбачає
		цінніснепризначення.
</div>
<div class="advantages m-5">

<div class="hand ">
	Другийаспектпередбачає
		цінніснепризначення.
		Другийаспектпередбачає
		цінніснепризначення.
</div>
<div class="hand">
	Другийаспектпередбачає
		цінніснепризначення.
		Другийаспектпередбачає
		цінніснепризначення.
</div>
<div class="hand">
	Другийаспектпередбачає
		цінніснепризначення.
		Другийаспектпередбачає
		цінніснепризначення.
</div>
<div class="hand">
	Другийаспектпередбачає
		цінніснепризначення.
		Другийаспектпередбачає
		цінніснепризначення.
</div>
</div>
