:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;
	--sixe-mb:36px;

	--color-border: #dee2e6;
	--color-primary: rgb(30, 30, 241);
	--color-white: #ffffff;
	--color-title: #212529;
	--color-text: #343a40;
	--color-text2: #6c757d;

	--border-radius-d: 12px;
	--border-radius-s: 4px;
	--weight-title: 700;
	--weight-text: 400;
	--page-width: 1000px;
}

/*==============================*/
.page {
	background-color: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}
.page_content {
	max-width: var(--page-width); 
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 80px;
	font-family: "Roboto", sans-serif ;
/*=======================*/
}
.header {
	padding: var(--space-l) 0;
	border-bottom:  1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
	
}
.logo {
	font-size: 17x;
	color: var(--color-white);
	background-color: var(--color-primary);

	width: 24px;
    height: 24px;

	border-radius: calc(var(---border-radius-d-d) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}
.nav_inline {
	gap: var(--space-l);
}
.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;

}
.nav_link {
	color: var(--color-text );
	font-size: var(--size-d);
	text-decoration: none;
	line-height: 100%;

}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;	
}
.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;
	margin-top: var(--space-l);

}
.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);
	font-weight: var(--weight-title);

	display: block;
	margin-bottom: var(--space-l);

}

.main {
	display: flex;
	width: 100%;
	gap: 40px;
	align-items: flex-start;
}
.info {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	width: 100%;
	gap: var(--space-l);
    padding: var(--space-b) ;
	align-items: center;
}
.info_title {
	
	font-size: 56px;
	color: var(--color-title);
	font-weight: var(--weight-title);
	line-height: 120%;
}
.info_description {
	font-size: var(--size-mb);
	color: var(--color-title);
	font-weight: var(--weight-text);
	line-height: 36px;
}

.form {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius-d);
    background: #f8f9fa;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
	padding: var(--space-l);
	max-width: 340px;
	width: 100%;
	gap: var(--space-l);
	
}
.form_title {
	font-size: var(--size-d);
	text-align: center;
	color: var(--color-title);
	font-weight: var(--weight-text);
}
.form_info {
	text-align: center;
	font-size: var(--size-d);
	color: #6c757d;
	line-height: 24px;
	font-weight: var(--weight-text);
	border-top: 1px solid var(--color-border);

}
.form_button {
	text-align: center;
	padding: var(--space-m);
	border-radius: var(--border-radius-d);
    background-color: var(--color-primary);
	color: var(--color-white);
	

	transition: 0.7s;
}
.form_button:hover {
	opacity: 0.7;
}
.form_button:active {
	opacity: 0.3;
}
.form_input_list {
	display: flex;
	flex-direction: column;
	
	gap: var(--space-m)
}
.form_input {
	border-radius: var(--border-radius-d);
    border: 1px solid #ced4da;
    padding: var(--space-xm);
}
.form_input::placeholder {
	font-size: var(--size-d);
	color: var(--color-title);
}
.form_checkbox {
	display: flex;
	gap:var(--space-s);
	align-items: center;
}

.form_checkbox > input {
	display: none;
}
.form_checkbox > input ~ div {
	border: 1px solid #767676;
	border-radius: var(--border-radius-s);
	height: 13px;
	width: 13px;
}
.form_checkbox > input:checked ~ div {
	border-color:var(--color-primary) ;
	background-color: var(--color-primary);
}
.form_checkbox > label {
	font-size: var(--size-d);
	color: var(--color-title);
	cursor:pointer;
}
.upd {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	padding: var(--size-b);
	align-items: flex-start;

	border-radius: var(--border-radius-s);
    background: var(--color-white);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);

}
.upd_title {
	font-size: var(--size-b);
	color: var(--color-title);
}
.upd_show {
	font-size: var(--size-s);
	color: var(--color-primary);
	text-decoration-line: none;
	align-self: start;
	transition: opacity 0.7s;
	border-bottom: 1px solid transparent; 
}
.upd_show:hover {
	opacity: 0.7;
	border-color: var(--color-primary);
}

.list {
	display: flex;
	flex-direction: column;
    
    gap: 8px;
    align-self: stretch;
	align-items: flex-start;
	gap: var(--space-m);
	padding-bottom: var(--space-m);

	border-bottom: 1px solid var(--color-border);
}
.icn {
	display: flex;
	gap: 8px;
	align-items: flex-start;
	
}

.list_nickname {
	
	font-size: var(--size-d);
	color: var(--color-text2);
	justify-content: center;
}
.list_descr {
	display: flex;
	flex-direction: column;
	font-size: var(--size-d);
	color: var(--color-text2);
}

.list_upd_img {
	width: 32px;
	height: 32px;
	flex-shrink: 0;
	background-color: #6f42c1; 
}
.expir {
	position: relative;
	 background-color: #f8f9fa;
	padding: var(--space-l);
	gap: var(--space-l);
	border-radius: var(--border-radius-s);
	
}

.expir_title {
	display: flex;
	flex-direction: row;
	
	font-size: var(--space-b);
	color: var(--color-title);
}
.expir_badge {
	position: absolute;
	top: -30px;
	left: 920px;
	padding: 24px;
	justify-content: center;
	font-size: var(--size-b);
	background-color: #ff7347;
	color: var(--color-white);
	
	width: 120px;
	height: 80px;
	border-radius: 70px;
	line-height: 120%; 
}

.list_card {
	display: flex;
	gap: var(--space-l);
	align-self: stretch;
	padding: var(--space-l);
}
.list_group {
	display: flex;
	flex-direction: column;
	padding: var(--space-xm);
	gap: var(--space-s);
	background-color: var(--color-title);
	border-radius: var(--border-radius-d);
	line-height: 150%;
	width: 100%;
}

.list_name {
	font-size: var(--size-l);
	color: var(--color-white);
	
}
.list_details {
	font-size: var(--size-d);
	color: #b1b1b1;
	
}




			 

